button{
  padding:0px;
  margin:0px;
  width: 96px;
  aspect-ratio: 1 / 1;
  background-color: lightgray;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  padding:0px;
  margin:0px;
}